@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

ul,
ol,
li {
  list-style: none; }

u {
  text-decoration: none; }

i,
em,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-style: normal; }

a {
  text-decoration: none;
  color: #424242; }

img {
  display: block; }

body {
  font-family: Arial;
  border: none; }

div {
  display: block; }

h1,
h2,
h3 {
  font-size: 14px; }

body {
  position: relative;
  background: #f2f2f2; }

.clearfn::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.clearfn {
  zoom: 1; }

.l {
  float: left; }

.r {
  float: right; }

.clear::after {
  content: "";
  display: block;
  clear: both; }

#header {
  height: 36px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #f4f4f4;
  top: 0px; }

#header .header-banner {
  left: 50%;
  margin-left: -610px;
  width: 1220px;
  height: 36px;
  position: absolute;
  font-size: 18px;
  line-height: 36px; }

#header .header-banner div:nth-child(2) {
  font-size: 15px; }

#header .header-banner div:nth-child(2) section a {
  margin-left: 13px; }

#header .header-banner div:nth-child(2) section a i {
  font-size: 12px; }

#logo {
  width: 100%;
  height: 66px;
  background-color: white;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 36px;
  z-index: 999; }
  #logo .page-nav {
    width: 1220px;
    margin: 0 auto; }
    #logo .page-nav h1 {
      width: 130px;
      height: 66px;
      float: left; }
      #logo .page-nav h1 img {
        width: 130px;
        padding-top: 20px; }
    #logo .page-nav .nav {
      float: left;
      width: 634px;
      height: 66px;
      margin-left: 40px; }
      #logo .page-nav .nav li {
        float: left; }
        #logo .page-nav .nav li a {
          display: inline-block;
          line-height: 66px;
          font-size: 15px;
          color: #363636;
          position: relative;
          margin-left: 5px; }
          #logo .page-nav .nav li a span {
            padding: 6px 12px; }
            #logo .page-nav .nav li a span:hover {
              background-color: black;
              border-radius: 20px;
              color: #fff; }
  #logo .rightnav {
    float: right;
    display: block;
    height: 66px;
    line-height: 28px; }
    #logo .rightnav li {
      line-height: 28px;
      float: left; }
      #logo .rightnav li a {
        display: inline-block;
        height: 66px;
        line-height: 66px;
        margin-left: 20px; }
        #logo .rightnav li a:hover {
          color: blue; }
      #logo .rightnav li i:first-child {
        font-size: 16px;
        line-height: 16px; }
      #logo .rightnav li span {
        font-size: 16px; }
    #logo .rightnav li:nth-of-type(2) i {
      font-size: 16px; }
    #logo .rightnav li:nth-of-type(3) i {
      font-size: 18px; }
    #logo .rightnav li:nth-of-type(4) i {
      font-size: 18px; }
  #logo .nav-list {
    width: 1220px; }
    #logo .nav-list li {
      float: left; }

#logo .page-nav .sub-menu {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 67px;
  height: 228px;
  background-color: #fff;
  z-index: 1;
  display: none; }
  #logo .page-nav .sub-menu .left1 {
    width: 600px;
    height: 228px;
    position: absolute;
    left: 142px; }
    #logo .page-nav .sub-menu .left1 li {
      float: left;
      margin-left: 30px;
      margin-top: 33px; }
      #logo .page-nav .sub-menu .left1 li a p {
        height: 16px;
        padding-top: 8px;
        line-height: 16px;
        text-align: center; }
      #logo .page-nav .sub-menu .left1 li a img {
        height: 100px; }
  #logo .page-nav .sub-menu .right1 {
    position: absolute;
    right: 380px;
    top: 35px;
    width: auto;
    height: 160px;
    border-left: 1px solid #999; }
    #logo .page-nav .sub-menu .right1 ul {
      padding-left: 40px; }
      #logo .page-nav .sub-menu .right1 ul li {
        padding-top: 10px; }

.section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px; }

.benefit-section {
  max-width: 100%;
  padding: 0 30px;
  border-top: 1px solid #dadee2; }
  .benefit-section dl {
    padding: 8.5%;
    border-left: 1px solid #e3e6e9; }
  .benefit-section dt {
    width: 25%; }
  .benefit-section .icon {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background: url(https://res.samsungeshop.com.cn/resources/activityReleased/8a4b240b-512f-4b62-aa7e-33abc331977d/images/icon@2x.png?20200630234411?20200416203358?20200109204138);
    background-position: 0 -103px;
    background-size: 370px; }
  .benefit-section .icon-footer-service {
    background-position: -123px -103px; }
  .benefit-section .icon-footer-true {
    background-position: -61px -103px; }

.benefit-container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 35px 0 28px; }
  .benefit-container div:first-child dl {
    border-left: 0;
    padding-left: 0; }

.row {
  font-size: 0;
  position: relative; }

.col-12-4 {
  width: 33.3%; }

.col-10-7 {
  width: 70%; }

.col-10-3 {
  width: 30%; }

[class*=col-] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  position: relative;
  font-size: 14px; }

.float-left {
  float: left !important; }

.float-clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.benefit-info p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 30px; }
  .benefit-info p span {
    margin-left: 18px; }

#wrapper .footer {
  padding-bottom: 0; }

.footer {
  padding: 0; }

.footer-top {
  border-top: 0;
  padding: 24px 0 23px;
  background-color: #f5f5f5; }

.footer-container {
  max-width: 1220px;
  padding: 0 30px;
  margin: 0 auto; }
  .footer-container div .footer-submenu li {
    line-height: 24px; }
    .footer-container div .footer-submenu li a {
      color: #333; }
  .footer-container .foot-sub-menutitle a {
    font-size: 18px; }

.footer-container > div > ul.footer-submenu > li {
  border-right: 1px solid #d9d9d9;
  width: 32%;
  text-align: center; }

.foot-sub-menutitle {
  font-size: 14px;
  color: #5f5f5f;
  line-height: 16px;
  margin-bottom: 8px;
  margin-top: 20px; }
  .foot-sub-menutitle .icon-navplus {
    display: none; }
  .foot-sub-menutitle a {
    color: #333;
    font-weight: bold; }

.footer-top-right-content {
  padding-left: 21%; }

.footer-concern {
  margin-bottom: 30px;
  margin-top: 20px; }
  .footer-concern .icon {
    display: inline-block;
    width: 52px;
    height: 52px;
    margin-left: 15px;
    background: url(../images/icon-commonn.png) -12px -16px no-repeat; }
  .footer-concern .icon-wechat {
    background-position: -81px -16px; }

.official-sharing {
  color: #333;
  font-weight: bold;
  margin-left: 15px; }

.footer-concern-btn {
  font-size: 0;
  margin-top: 20px; }

.copyright {
  font-size: 14px;
  color: #333;
  line-height: 14px;
  margin: 30px 0 5px 0; }

.footer-bottom {
  padding: 20px 0;
  background-color: #525252; }

.footer-bottom-left {
  width: 480px; }
  .footer-bottom-left li {
    float: left;
    margin-right: 25px;
    line-height: 14px;
    margin-bottom: 14px; }
    .footer-bottom-left li a {
      font-size: 14px;
      color: #fff;
      font-weight: bold; }

.footer-bottom-right {
  width: 368px;
  float: right !important; }
  .footer-bottom-right p {
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    margin-bottom: 9px; }
  .footer-bottom-right .footer-authorize {
    line-height: 16px;
    width: 280px; }

.float-clearfix {
  clear: both !important; }

.browser-notice {
  font-size: 12px;
  color: #ccc;
  line-height: 14px;
  margin-bottom: 0;
  margin-top: 14px; }

img {
  vertical-align: middle; }

.container {
  width: 100%;
  position: relative;
  margin-top: 102px;
  background-color: #fff; }

.section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  max-width: 1220px; }

.section .list-section {
  max-width: 1520px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 30px; }

.sam-progress {
  position: relative;
  padding: 20px; }

.sam-progress ul {
  position: relative;
  z-index: 1;
  padding-top: 10px; }

.sam-progress li {
  float: left;
  text-align: center; }

.sam-progress i {
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-family: Tahoma;
  font-weight: bold;
  display: block;
  border-radius: 50%;
  background-color: #ccc;
  font-style: normal !important;
  margin: 0 auto 15px auto; }

.sam-progress .sam-progress-bar {
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #d4d4d4;
  top: 16px;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.05); }

.sam-progress-4.sam-progress-curval-1 .sam-progress-bar:before {
  width: 25%; }

.sam-progress-4.sam-progress-curval-1 .sam-progress-bar:after {
  left: 50%;
  width: 10%; }

.sam-progress .sam-progress-bar:before {
  background-color: #1428a0;
  content: "";
  height: inherit;
  left: 0;
  position: absolute;
  top: 0; }

.sam-progress .sam-progress-bar:after {
  background-image: linear-gradient(to right, #1428a0 0, #ccc 100%);
  content: "";
  height: inherit;
  position: absolute;
  top: 0;
  margin-left: -25%; }

.lsit-unstyled {
  padding-left: 0;
  list-style: none; }

.sam-progress-4 li {
  width: 25%; }

.sam-progress-curval-1 .sam-progress-step-1 i, .sam-progress-curval-2 .sam-progress-step-1 i, .sam-progress-curval-2 .sam-progress-step-2 i, .sam-progress-curval-3 .sam-progress-step-1 i, .sam-progress-curval-3 .sam-progress-step-2 i, .sam-progress-curval-3 .sam-progress-step-3 i, .sam-progress-curval-4 .sam-progress-step-1 i, .sam-progress-curval-4 .sam-progress-step-2 i, .sam-progress-curval-4 .sam-progress-step-3 i, .sam-progress-curval-4 .sam-progress-step-4 i {
  background-color: #1428a0; }

.sam-progress-curval-1 .sam-progress-step-1 a, .sam-progress-curval-2 .sam-progress-step-1 a, .sam-progress-curval-2 .sam-progress-step-2 a, .sam-progress-curval-3 .sam-progress-step-1 a, .sam-progress-curval-3 .sam-progress-step-2 a, .sam-progress-curval-3 .sam-progress-step-3 a, .sam-progress-curval-4 .sam-progress-step-1 a, .sam-progress-curval-4 .sam-progress-step-2 a, .sam-progress-curval-4 .sam-progress-step-3 a, .sam-progress-curval-4 .sam-progress-step-4 a {
  color: #1428a0; }

.shopcart-content {
  padding: 0 30px;
  max-width: 1220px; }

.shopcart-list-title {
  position: relative;
  background-color: #f2f2f2;
  padding-left: 176px; }

.shopcart-list-title .icon-checked {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -10px; }

.shopcart-list-title .shopcart-list-leftimg p:first-child {
  cursor: pointer;
  margin-bottom: 0; }

p {
  margin: 0 0 10px; }

.icon-checked i, i.icon-checked {
  background: url(../images/icon-commonn.png) 0 -408px no-repeat scroll transparent;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer; }

.icon-checked.is-active i, i.icon-checked.is-active, .is-active .icon-checked {
  background-position: -44px -408px; }

.shopcart-list-title div {
  font-size: 14px;
  color: #333;
  line-height: 48px;
  margin: 2px 0 0; }

.shopcart-list-leftimg {
  position: absolute;
  left: 59px;
  top: 0;
  margin-top: 20px; }

.shopcart-list-leftimg a {
  display: block;
  width: 100px;
  border: 1px solid #e5e5e5; }

.shopcart-list-title .shopcart-list-right {
  min-height: 10px;
  margin-top: 0; }

.shopcart-list-right {
  min-height: 102px;
  padding-right: 20px; }

.shopcart-list-right > div {
  float: left; }

.shopcart-goods {
  width: 25%; }

.shopcart-unit-price {
  width: 15%;
  text-align: center; }

.shopcart-jifen {
  width: 20%;
  text-align: center; }

.shopcart-qty {
  width: 23%;
  text-align: center; }

.shopcart-sum {
  width: 17%;
  text-align: right; }

.shopcost-sum-box {
  padding: 29px 0; }

.float-right {
  float: right !important; }

.shopcost-sum-title {
  margin-right: 30px;
  line-height: 24px; }

.shopcost-sum-num {
  font-size: 22px;
  color: #1428a0;
  font-weight: bold;
  line-height: 24px;
  float: right; }

.shopcost-sum-num a {
  font-size: 22px;
  color: #1428a0;
  font-weight: bold;
  line-height: 24px;
  float: right; }

.icon-shopcar {
  display: inline-block;
  width: 22px;
  height: 18px;
  margin: 0 11px -2px 3px;
  background: url(../images/icon-commonn.png) -122px -114px no-repeat; }

.icon {
  font-style: normal !important;
  font-weight: normal; }

.none {
  display: none; }

.shopcart-pay {
  background-color: #f2f2f2; }

.shopcart-pay .btn {
  width: 270px;
  float: right; }

.shopcart-pay .buy-continue {
  float: left;
  color: #1428a0;
  font-size: 16px;
  line-height: 50px;
  margin-left: 21px; }

.icon-arrow {
  display: inline-block;
  width: 8px;
  height: 14px;
  margin: 0 5px -1px 0; }

.shopcart-list {
  position: relative;
  padding: 19px 0 19px 176px;
  border-bottom: 1px solid #f1f1f1; }

.shopcart-goods a {
  color: #333;
  font-size: 14px;
  line-height: 17px;
  word-break: normal;
  display: block; }

.shopcart-list-leftimg a img {
  width: 100%; }

.icon-outOfStock-bg {
  display: none; }

.shopcart-goods p {
  margin: 10px 0 0; }

.shopcart-list .icon-checked, .shopcart-list-title .icon-checked {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -10px; }

.shopcart-unit-price {
  width: 15%;
  text-align: center; }

.shopcart-unit-price p {
  margin-bottom: 4px; }

.calculate-num input {
  border: 1px solid #eee;
  width: 30px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  outline: none; }

.qty-btn-left.off .icon-left-minus {
  background-position: -122px -60px; }

.shopcart-remove {
  display: inline-block;
  font-size: 12px;
  color: #666;
  text-decoration: underline;
  cursor: pointer; }

input, textarea {
  -webkit-appearance: none;
  font-family: "Helvetica Neue", "微软雅黑", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  border: 0; }

.shopcart-sum .shopcart-sum-discount p {
  color: #e0190f; }

.new-recommend-section {
  margin-top: 60px;
  max-width: 1220px;
  padding: 0 30px; }

.new-recommend-color-section .new-recommend-title {
  position: relative;
  font-size: 24px; }

.new-recommend-title {
  font-size: 24px;
  line-height: 86px; }

.new-recommend-title {
  font-size: 32px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 15px; }

.new-recommend-list {
  text-align: center;
  margin-bottom: 60px; }

.new-recommend-list {
  padding: 0 10px; }

.row {
  font-size: 0;
  position: relative; }

.col-10-2 {
  width: 20%; }

[class*=col-] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  position: relative;
  font-size: 14px; }

.new-recommend-list .thumbnail {
  padding: 0 10px; }

.new-recommend-list .thumbnail {
  padding-bottom: 60px; }

.thumbnail {
  display: block;
  padding: 4px;
  border-radius: 4px; }

.new-recommend-list .thumbnail a {
  height: auto !important;
  line-height: auto !important;
  margin: 0;
  padding: 0; }

.thumbnail img {
  border-radius: 4px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.new-recommend-color-section .new-recommend-list .thumbnail h2 {
  height: 44px; }

.new-recommend-color-section .new-recommend-list .thumbnail h2 {
  font-size: 14px;
  line-height: 24px; }

.new-recommend-list .thumbnail h2 {
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 30px;
  margin-top: 13px;
  word-break: normal; }

.thumbnail h2 {
  padding: 0; }

.new-recommend-color-section .new-recommend-list .thumbnail p {
  font-size: 14px; }

.new-recommend-list .thumbnail p {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0; }

.new-recommend-list .thumbnail a {
  height: auto !important;
  line-height: auto !important;
  margin: 0;
  padding: 0; }

.new-recommend-list .btn {
  width: 180px;
  height: 30px;
  line-height: 30px;
  font-weight: normal;
  margin: 7px auto 0; }

.btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: normal;
  padding: 6px 18px 6px 18px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  color: #363d4c;
  border-radius: 4px;
  background-color: #fff;
  line-height: 20px; }

.btn {
  width: 150px;
  height: 50px;
  padding: 0;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 0;
  border: 0;
  background-color: #1428a0; }

.payment-section {
  padding: 0;
  max-width: 1220px;
  padding-bottom: 40px;
  border-top: 1px solid #e5e5e5; }

.payment-list .col-10-3 {
  width: 39.6%;
  position: relative; }

.payment-list p {
  text-align: center;
  margin: 22px 0 25px; }

.payment-list ul {
  font-size: 0;
  text-align: center; }

.payment-list li {
  display: inline-block;
  width: 97px;
  height: 37px;
  margin: 0 10px;
  border: 1px solid #dcdcdc;
  border-radius: 3px; }

.payment-list li img {
  width: 100%; }

[class*=col-] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  position: relative;
  font-size: 14px; }

.payment-list.col-10-7 {
  width: 60.4%; }

.payment-list.col-10-3:before {
  content: "";
  display: block;
  width: 0;
  height: 76px;
  border-left: 1px solid #e5e5e5;
  position: absolute;
  left: 0;
  top: 34px; }

.benefit-section {
  max-width: 100%;
  padding: 0 30px;
  margin-top: 26px;
  border-top: 1px solid #dadee2; }

.benefit-section dl {
  padding: 8.5%;
  border-left: 1px solid #e3e6e9; }

.benefit-section dt {
  width: 25%; }

.benefit-section .icon {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  background-position: 0 -103px;
  background-size: 370px; }

.benefit-section .icon-footer-service {
  background-position: -123px -103px; }

.benefit-section .icon-footer-true {
  background-position: -61px -103px; }

.benefit-container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 35px 0 28px; }

.benefit-container div:first-child dl {
  border-left: 0;
  padding-left: 0; }

.row {
  font-size: 0;
  position: relative; }

.col-12-4 {
  width: 33.3%; }

.col-10-7 {
  width: 70%; }

.col-10-3 {
  width: 30%; }

[class*=col-] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  position: relative;
  font-size: 14px; }

.float-left {
  float: left !important; }

.float-clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.benefit-info p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 30px; }

.benefit-info p span {
  margin-left: 18px; }

#wrapper .footer {
  padding-bottom: 0; }

.calculate-num .icon {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px 0 0 6px;
  background: url(../images/icon-commonn.png) -122px 0 no-repeat; }

.pre-info {
  margin: 0;
  font-size: 12px;
  color: #b0b0b0; }

.calculate-num {
  width: 80px;
  height: 22px;
  margin: 0 auto 8px; }

.down {
  width: 15px;
  height: 20px; }

.up {
  width: 15px;
  height: 20px; }
